extends base.pug

block scripts
  script(src='/static/index.js')
  
block style 
  style
      include ../static/style.css
      include ../static/styleabout.css

block content  
    div.contain
     h1  About Us 
     br
     br
     p Dance, the movement of the body in a rhythmic way, usually to music and within a given space, for the purpose of expressing an idea or emotion, releasing energy, or simply taking delight in the movement itself.
     br
     br
     h3 Taipei premiere ballet company
     br
     p “The key is the choreography by Calestine, which is among the finest and most innovative I have seen. [Celestie's choreography] is a work of genius, combining beautifully coordinated motion with astute interpretation of the composer’s intention.” Portland Press Herald – Christopher Hyde
     br
     p Calestine Theatre is internationally renowned for its world-class performances of riveting new choreography by artistic director and resident choreographer Celestine.
     br
     br
     p The Company’s extensive repertory spans from 19th century classics to compelling new choreography performed by its award-winning Artists in our NYC Theaters and on Tours.
     br
     br
     br
     h4 In our Academy we are providing most popular types of Dances:-
     br
     ul(type='disc')
      li Ballet Dance
      li Ballroom Dance
      li Contemporary Dance
      li Hip-Hop Dance
      li Jazz Dances
      li Tap Dance
      li Folk Dance
      li Irish Dance
      li Modern Dance
      li Swing Dance