doctype html
html
  head
    title Calestine Dance Academy 
    block scripts
    block style 
  body
    nav#navbar 
       ul  
            div#logo
                    img(src="/static/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/about") About Us]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/classinfo") Classes Info]
            li #[a(href="/services") Services] 

    block content      
    footer#footer 
       | Copyright © 2021 CelestineDanceAcademy.com | All rights reserved