extends base.pug

block scripts
  script(src='/static/index.js')
  
block style 
  style
      include ../static/style.css
      include ../static/styleservices.css

block content 
  div.contain
     h1 Services
     br 
     p The Calestine dance Academy is the best academy in the whole Taiwan. This is the academy which have the best dancers of the world. We provide the best dance tutorial to our students and help them to achieve their dreams come true.
     br
     p The Calestine Academy help the dancers to improve their moves and focuses on their future. 
     br
     p Our academy is not only popular in Taiwan, it is popular World-Wide as we provide best teachers for the students to learn new techniques, moves, skills etc.
     br
     p There are many plans which we are providing them as well as the discounts.
       |       The montly and yearly plans we are providing to them. We are providing the certificates also for the future.
     br
     br
     p So, Hurry up and join our classes now for your better future.
     br
     hr
     p 
     h3  Our Branches
     br 
     p Head Office:  &nbsp; Address: 105, Taiwan, Taipei City, Songshan District, Section 5, Nanjing East Road, 393號5樓.&nbsp; Phone Number-&nbsp; +886 905 232 823
     p Taipei: &nbsp; Address: 106, Taiwan, Taipei City, Da’an District, Section 1, Fuxing South Road, 215 號3F-1
     p Tainan: &nbsp; Address: No. 559號, Section 2, Zhonghua West Road, Anping District, Tainan City, Taiwan 708   
     p New York: &nbsp; Address: 322 W 45th St, New York, NY 10036, United States.&nbsp; Phone: +1 212-582-9304
     p India: &nbsp; Address: 1811, Gyani Bazar, Near Janta Store, Opp. D- 56 South Extension -1, New Delhi, Delhi 114001.&nbsp; Phone: 099394 21260